@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;600;700&family=Rubik+Maps&display=swap');

:root {
  --max-width: 1200px;

  --font-family-body: 'Poppins', sans-serif;
  --font-family-heading: 'Bebas Neue', sans-serif;
  --font-family-logo: 'Rubik Maps', sans-serif;

  --text-color: #fff;
  --text-color-logo: #b5b5b5;

  --primary-color: #fff;
  --secondary-color: #181818;

  --btn-color: #181818;
  --btn-color-hover: #3b3b3b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
    font-family: var(--font-family-heading);
}