.main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 5rem;
  background-color: var(--primary-color);
}

.main h1 {
  font-size: 2.8rem;
  margin: 0.5rem 0;
}

.main p {
  font-size: 1.25rem;
  font-weight: 500;
}

.section {
  width: 100%;
  border-bottom: #b8b8b8 solid 2px;
}

.section h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.section img {
  display: block;
  margin: 1.5rem auto;
  width: 100%;
  height: 100%;
}

.section img:hover {
  opacity: 0.8;
  transition: opacity 2s;
}

.section a {
  display: block;
  width: 8rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 3px;
  background-color: var(--btn-color);
  color: var(--text-color);
}

.section a:hover {
  background-color: var(--btn-color-hover);
}

.section a i {
  font-size: 0.8rem;
  margin-left: 0.2rem;
  color: var(--text-color);
}

.section a:hover i {
  animation-name: move-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.last {
  border: none;
}

/* Responsividade */
@media (max-width: 320px) {
  .main {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
  }

  .main h1 {
    font-size: 2rem;
  }

  .section h2 {
    font-size: 1.6rem;
  }
}

@keyframes move-arrow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(0.4rem);
  }
}